/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* ---- Base Rules ---- */
body {
    background: hsl(151, 39%, 66%);
    background: linear-gradient(0deg, hsl(151, 39%, 66%) 0%, hsl(0, 0%, 0%) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: hsl(0, 0%, 100%);
}


/* Typeography General*/
h1 {
    font-size: 3em;
    margin: 2em 1rem;
    margin-bottom: 0;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid hsl(200, 18%, 46%);
    font-size: 3em;
    color: hsl(0, 0%, 100%);
}

p {
    line-height: 1.6em;
    color: hsl(0, 0%, 93%);
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    min-height: 50vh;
    padding-top: 25vmin;
}



/* ---- Module Rules ---- */

/* Navigation Styles*/


.navbar__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    margin: 0;
    list-style: none; 
    background-color: hsl(151, 39%, 66%);
    color: hsl(0, 0%, 0%);

}

.navbar__list .menu__link {
    display: inline-block;
    width: auto;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.menu__link:hover {
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    transition: ease-in-out 0.3s all;
    cursor: pointer;
}

.active-nav {
    background-color: hsla(200, 18%, 46%, 0.5);
    color: hsl(0, 0%, 100%);
}

.hamburger {
    display: none;
}

.mob__nav {
    width: 100%;

}

/* responsive navbar properties for smaller screens*/
@media only screen and (max-width: 768px) {
    
    .mob__nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 150px;
        height: 100vh;
        transform: translateX(200px);
        transition: transform 250ms;
    }

    .navbar__list {
        flex-direction: column;
        width: 150px;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1em);
    
    }

    .menu__link {
        width: 100%;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 8px;
        cursor: pointer;
        background-color: transparent;
        transform: translateX(-100px);
        transition: transform 100ms;
        
    }

    .active__burger {
        transform: translateX(0px);
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1em);
    }
    
    .active {
        transform: translateX(0px);
    } 

    .bar {
        width: 35px;
        height: 2px;
        background-color: hsl(0, 0%, 100%);
        margin: 5px 0;
    }
    
    .page__header {
        position: relative;
        
    }
}    

/* Header Styles */
.page__header {
    background-color: hsl(151, 39%, 66%);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: hsl(0, 0%, 0%);
    padding: 3em;
    color: hsl(0, 0%, 100%);
}

.page__footer p{
    color: hsl(0, 0%, 100%);
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 0 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: hsla(0, 0%, 100%, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: hsl(0, 0%, 100%);
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.1) 0%, hsla(0, 0%, 100%, 0.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: hsl(0, 0%, 100%);
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.1) 0%, hsla(0, 0%, 100%, 0.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: hsl(0, 0%, 100%);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, hsla(0, 0%, 100%, 0.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: hsl(0, 0%, 0%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, hsla(0, 0%, 0%, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}